notebooks
paper_figures
wandb
weights
.git
__pycache__
*/__pycache__
**/__pycache__
***/__pycache__
*/.ipynb_checkpoints
.ipynb_checkpoints
scripts/inference_results
scripts/registration_results