notebooks
paper_figures
wandb
weights
.git
__pycache__
*/__pycache__
**/__pycache__
***/__pycache__
*/.ipynb_checkpoints
scripts/results
.ipynb_checkpoints
scripts/registration_results
mlflow_inference